<h1>Summary</h1>

<h3>Import package and funcs</h3>

In [48]:
import package
import package.funcs
from package import funcs

In [49]:
funcs.test()

Hello

In [50]:
package.funcs.add(1,2)

3

In [51]:
funcs.add(1,3)

4

<h3>import_packages</h3>

In [52]:
from package import import_packages

In [53]:
import_packages.import_packages()

In [54]:
pd.DataFrame({'A':[1,2,3,4,5]})

   A
0  1
1  2
2  3
3  4
4  5

In [59]:
np.array([1,2,3])

array([1, 2, 3])