<h1>Summary</h1>

<p>
of the complete projects.
</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Campaign Analysis with pandas</title>
</head>
<body>
    <h1>Marketing Campaign Analysis with pandas</h1>
    <h2>Project Overview</h2>
    <p>In this project, we'll explore how to apply technical data science skills to practical marketing applications using Python and pandas. We'll work with a fictional marketing dataset to answer key business questions, such as "What was the outcome of this campaign?", "Which channel brings in the most subscribers?", and "Why is a specific channel not performing well?". This project will reinforce foundational Python and pandas concepts, including dataset merging/slicing, groupby operations, data type correction, and result visualization with matplotlib.</p>
    <h2>Project Structure</h2>
    <ul>
        <li><strong>Dataset Overview</strong>: A summary of the marketing dataset used in this project</li>
        <li><strong>Getting Started</strong>: Instructions for setting up the project environment and installing required libraries</li>
        <li><strong>Analysis</strong>: A step-by-step guide to performing marketing analysis using pandas</li>
        <li><strong>Visualization</strong>: A section on visualizing results using matplotlib</li>
        <li><strong>Conclusion</strong>: A review of the project's findings and implications for marketing strategy</li>
    </ul>
    <h2>Dataset Overview</h2>
    <p>The dataset provides detailed information on user interactions with various marketing campaigns. The dataset has the following characteristics:</p>
    <pre>
        <code>
            class 'pandas.core.frame.DataFrame'>
            RangeIndex: 10037 entries, 0 to 10036
            Data columns (total 12 columns):
             #   Column               Non-Null Count  Dtype 
            ---  ------               --------------  ----- 
             0   user_id              10037 non-null  object
             1   date_served          10021 non-null  object
             2   marketing_channel    10022 non-null  object
             3   variant              10037 non-null  object
             4   converted            10022 non-null  object
             5   language_displayed   10037 non-null  object
             6   language_preferred   10037 non-null  object
             7   age_group            10037 non-null  object
             8   date_subscribed      1856 non-null   object
             9   date_canceled        577 non-null    object
             10  subscribing_channel  1856 non-null   object
             11  is_retained          1856 non-null   object
            dtypes: object(12)
            memory usage: 941.1+ KB
        </code>
    </pre>
    <h2>Getting Started</h2>
    <p>To get started with this project, ensure you have Python and pandas installed. You can install pandas using <code>pip install pandas</code>. For data visualization, also install matplotlib using <code>pip install matplotlib</code>. Clone this repository and follow the project materials to practice and improve your data science capabilities.</p>
    <h2>Contributing</h2>
    <p>We welcome contributions to this project! If you encounter any issues or have suggestions, please open an issue or submit a pull request.</p>
    <h2>License</h2>
    <p>This project is licensed under the MIT License. See the <a href="LICENSE">LICENSE</a> file for details.</p>
</body>
</html>

<h1>Import packages</h1>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import matplotlib as mpl
from cycler import cycler

import numpy as np
import os as os
import time
import pprint
import sys
import re
import json
import itertools
import datetime as dt
import scipy.stats as stats
import scipy


import pandas_datareader.data as web

# security
from dotenv import load_dotenv

<h1>Set up</h1>

In [2]:
cwd=os.getcwd()
print(cwd)

C:\Users\gamarandor\data_science\data_science_projects\data_camp_projects\Analyzing Marketing_Campaigns_with_pandas

<p>Requirement files</p>

In [3]:
!conda list > txt/requirements_conda.txt

In [4]:
!pip freeze > txt/requirements_pip.txt

<h1>Import data</h1>

In [5]:
# Import pandas into the environment
import pandas as pd

# Import marketing.csv 
marketing = pd.read_csv(r'data/marketing.csv')

<h1>Inspecting the data</h1>

In [6]:
print(marketing.values[:2])

[['a100000029' '1/1/18' 'House Ads' 'personalization' True 'English'
  'English' '0-18 years' '1/1/18' nan 'House Ads' True]
 ['a100000030' '1/1/18' 'House Ads' 'personalization' True 'English'
  'English' '19-24 years' '1/1/18' nan 'House Ads' True]]

In [7]:
print(marketing.columns.tolist())

['user_id', 'date_served', 'marketing_channel', 'variant', 'converted', 'language_displayed', 'language_preferred', 'age_group', 'date_subscribed', 'date_canceled', 'subscribing_channel', 'is_retained']

In [8]:
print(marketing.index.tolist()[44:51])

[44, 45, 46, 47, 48, 49, 50]

In [9]:
print(marketing.head().shape)
print('------------------------------------------------------------------------------')

print(marketing.head().iloc[:, 0:5])
print('------------------------------------------------------------------------------')

print(marketing.head().iloc[:, 6:10])
print('------------------------------------------------------------------------------')

print(marketing.head().iloc[:, 11:12])

(5, 12)
------------------------------------------------------------------------------
      user_id date_served marketing_channel          variant converted
0  a100000029      1/1/18         House Ads  personalization      True
1  a100000030      1/1/18         House Ads  personalization      True
2  a100000031      1/1/18         House Ads  personalization      True
3  a100000032      1/1/18         House Ads  personalization      True
4  a100000033      1/1/18         House Ads  personalization      True
------------------------------------------------------------------------------
  language_preferred    age_group date_subscribed date_canceled
0            English   0-18 years          1/1/18           NaN
1            English  19-24 years          1/1/18           NaN
2            English  24-30 years          1/1/18           NaN
3            English  30-36 years          1/1/18           NaN
4            English  36-45 years          1/1/18           NaN
------------------------------------------------------------------------------
  is_retained
0        True
1        True
2        True
3        True
4        True

In [10]:
print(marketing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 941.1+ KB
None

In [11]:
print(marketing.shape)

(10037, 12)

In [12]:
numeric_cols = marketing.select_dtypes(include='number')
numeric_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Empty DataFrame

In [13]:
numeric_cols = marketing.select_dtypes(exclude='number')
numeric_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 941.1+ KB

In [14]:
print(len(marketing.describe()))
print(marketing.describe().shape)
print('------------------------------------------------------------------------------')

print(marketing.describe().iloc[:, 0:4])
print('------------------------------------------------------------------------------')
print(marketing.describe().iloc[:, 4:8])
print('------------------------------------------------------------------------------')
print(marketing.describe().iloc[:, 9:12])

4
(4, 12)
------------------------------------------------------------------------------
           user_id date_served marketing_channel  variant
count        10037       10021             10022    10037
unique        7309          31                 5        2
top     a100000882     1/15/18         House Ads  control
freq            12         789              4733     5091
------------------------------------------------------------------------------
       converted language_displayed language_preferred    age_group
count      10022              10037              10037        10037
unique         2                  4                  4            7
top        False            English            English  19-24 years
freq        8946               9793               9275         1682
------------------------------------------------------------------------------
       date_canceled subscribing_channel is_retained
count            577                1856        1856
unique           115                   5           2
top           4/2/18           Instagram        True
freq              15                 600        1279

In [15]:
print(marketing.values[:2])

[['a100000029' '1/1/18' 'House Ads' 'personalization' True 'English'
  'English' '0-18 years' '1/1/18' nan 'House Ads' True]
 ['a100000030' '1/1/18' 'House Ads' 'personalization' True 'English'
  'English' '19-24 years' '1/1/18' nan 'House Ads' True]]

In [16]:
print(type(marketing.index))
print(marketing.index.tolist()[:4])

<class 'pandas.core.indexes.range.RangeIndex'>
[0, 1, 2, 3]

<h3>Missing values?</h3>

In [17]:
marketing.isna().sum().sort_values(ascending=False)

date_canceled          9460
date_subscribed        8181
subscribing_channel    8181
is_retained            8181
date_served              16
marketing_channel        15
converted                15
user_id                   0
variant                   0
language_displayed        0
language_preferred        0
age_group                 0
dtype: int64

<h3>Particular columns!</h3>
<p>
User-id below n-rows?
</p>

In [18]:
print(type(marketing['user_id'].unique()))
print(marketing['user_id'].unique().size)
print(len(marketing['user_id'].unique()))
print(marketing['user_id'].shape)

<class 'numpy.ndarray'>
7309
7309
(10037,)

In [19]:
marketing['marketing_channel'].value_counts()

marketing_channel
House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: count, dtype: int64

<h1>Cleaning the data</h1>

<h3>Date variables</h3>

<p>
Turning variables into datetime obj
</p>

In [20]:
marketing[['date_subscribed', 'date_canceled', 'date_served']].head()

  date_subscribed date_canceled date_served
0          1/1/18           NaN      1/1/18
1          1/1/18           NaN      1/1/18
2          1/1/18           NaN      1/1/18
3          1/1/18           NaN      1/1/18
4          1/1/18           NaN      1/1/18

In [21]:
# "%d/%m/%Y"
# date_format='%Y-%m-%d'
marketing['date_subscribed'] = pd.to_datetime(marketing['date_subscribed'], format="mixed")

In [22]:
marketing['date_canceled'] = pd.to_datetime(marketing['date_canceled'], format="mixed")

In [23]:
marketing['date_served'] = pd.to_datetime(marketing['date_served'] , format="mixed")

In [24]:
print(marketing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  datetime64[ns]
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   datetime64[ns]
 9   date_canceled        577 non-null    datetime64[ns]
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: datetime64[ns](3), object(9)
memory usage: 941.1+ KB
None

In [25]:
marketing[['date_subscribed', 'date_canceled', 'date_served']].head(3)

  date_subscribed date_canceled date_served
0      2018-01-01           NaT  2018-01-01
1      2018-01-01           NaT  2018-01-01
2      2018-01-01           NaT  2018-01-01

<p>Using the date attributes.</p>

In [26]:
df_date_subscribed = pd.DataFrame()

df_date_subscribed['date_subscribed'] = marketing['date_subscribed']
df_date_subscribed['year'] = marketing['date_subscribed'].dt.year
df_date_subscribed['month'] = marketing['date_subscribed'].dt.month
df_date_subscribed['quarter'] = marketing['date_subscribed'].dt.quarter
df_date_subscribed['day'] = marketing['date_subscribed'].dt.day
df_date_subscribed['dayofweek'] = marketing['date_subscribed'].dt.dayofweek
df_date_subscribed['hour'] = marketing['date_subscribed'].dt.hour

print(df_date_subscribed.head())
print('------------------------------------------------------------------------------')
print(df_date_subscribed.tail())

  date_subscribed    year  month  quarter  day  dayofweek  hour
0      2018-01-01  2018.0    1.0      1.0  1.0        0.0   0.0
1      2018-01-01  2018.0    1.0      1.0  1.0        0.0   0.0
2      2018-01-01  2018.0    1.0      1.0  1.0        0.0   0.0
3      2018-01-01  2018.0    1.0      1.0  1.0        0.0   0.0
4      2018-01-01  2018.0    1.0      1.0  1.0        0.0   0.0
------------------------------------------------------------------------------
      date_subscribed    year  month  quarter   day  dayofweek  hour
10032      2018-01-17  2018.0    1.0      1.0  17.0        2.0   0.0
10033      2018-01-17  2018.0    1.0      1.0  17.0        2.0   0.0
10034      2018-01-17  2018.0    1.0      1.0  17.0        2.0   0.0
10035      2018-01-17  2018.0    1.0      1.0  17.0        2.0   0.0
10036      2018-01-17  2018.0    1.0      1.0  17.0        2.0   0.0

In [27]:
# Add a DoW column
marketing['DoW'] = marketing['date_subscribed'].dt.dayofweek

<p>
Alternatively change to date type with read_csv.
</p>

In [28]:

# Import marketing.csv with date columns
marketing_2 = pd.read_csv(r'data/marketing.csv', parse_dates=
['date_served', 'date_subscribed', 'date_canceled'], date_format="mixed")

print(marketing_2[['date_served', 'date_subscribed', 'date_canceled']].dtypes)
# marketing_2.info()

date_served        datetime64[ns]
date_subscribed    datetime64[ns]
date_canceled      datetime64[ns]
dtype: object

<h3>Missing values</h3>

In [29]:
print(marketing.shape)
print('------------------------------------------------------------------------------')
print(marketing.isna().sum().sort_values(ascending=False))

(10037, 13)
------------------------------------------------------------------------------
date_canceled          9460
date_subscribed        8181
subscribing_channel    8181
is_retained            8181
DoW                    8181
date_served              16
marketing_channel        15
converted                15
user_id                   0
variant                   0
language_displayed        0
language_preferred        0
age_group                 0
dtype: int64

In [30]:
dropped_cols = \
marketing[['date_canceled', 'date_subscribed', 'DoW']]
# print(dropped_cols.info())

marketing = \
marketing.drop(labels = ['date_canceled', 'date_subscribed', 'DoW'],
                axis=1)

In [31]:
marketing['date_served'] = marketing['date_served'].ffill()

In [32]:
marketing.marketing_channel.value_counts()

marketing_channel
House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: count, dtype: int64

In [33]:
marketing.marketing_channel.fillna(value='House Ads', inplace=True)

In [34]:
print(marketing.isna().sum())

user_id                   0
date_served               0
marketing_channel         0
variant                   0
converted                15
language_displayed        0
language_preferred        0
age_group                 0
subscribing_channel    8181
is_retained            8181
dtype: int64

<h2>Data preparation</h2>

<h3>Adding new columns (Feature engineering)</h3>

In [35]:
marketing['converted'] =  marketing['converted'].astype('bool')
print(marketing['converted'].dtype)

print('------------------------------------------------------------------------------')

# Convert is_retained to a boolean
marketing['is_retained'] = marketing['is_retained'].astype('bool')

# Check the data type of is_retained, again
print(marketing['is_retained'].dtype)

bool
------------------------------------------------------------------------------
bool

<p>
Creating a new column House Ads.
</p>

In [36]:
marketing['HouseAds'] = np.where(marketing['marketing_channel'] == 'House Ads', True, False)
mc_ha = marketing[['marketing_channel', 'HouseAds']] 
print(mc_ha.head())

  marketing_channel  HouseAds
0         House Ads      True
1         House Ads      True
2         House Ads      True
3         House Ads      True
4         House Ads      True

<p>
Encoding marketing channels.
</p>

In [37]:
mc_unique_list = marketing['marketing_channel'].unique().tolist()

map_mc_to_n = {'House Ads': 1, 'Push': 2, 'Facebook': 3, 'Instagram': 4, 'Email': 5}

marketing['marketing_channel_coded'] = \
marketing ['marketing_channel'].map(map_mc_to_n)

print(marketing[['marketing_channel', 'marketing_channel_coded']].head())

  marketing_channel  marketing_channel_coded
0         House Ads                        1
1         House Ads                        1
2         House Ads                        1
3         House Ads                        1
4         House Ads                        1

In [38]:
# Mapping for channels
channel_dict = {"House Ads": 1, "Instagram": 2, 
                "Facebook": 3, "Email": 4, "Push": 5}

# Map the channel to a channel code
marketing['channel_code'] = marketing['subscribing_channel'].map(channel_dict)

# Import numpy
import numpy as np

# Add the new column is_correct_lang
marketing['is_correct_lang'] = \
np.where(marketing['language_preferred']==marketing['language_displayed'],
'Yes', 'No')


print(marketing['is_correct_lang'].value_counts())

is_correct_lang
Yes    9515
No      522
Name: count, dtype: int64

In [39]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  10037 non-null  object
 1   date_served              10037 non-null  datetime64[ns]
 2   marketing_channel        10037 non-null  object
 3   variant                  10037 non-null  object
 4   converted                10037 non-null  bool
 5   language_displayed       10037 non-null  object
 6   language_preferred       10037 non-null  object
 7   age_group                10037 non-null  object
 8   subscribing_channel      1856 non-null   object
 9   is_retained              10037 non-null  bool
 10  HouseAds                 10037 non-null  bool
 11  marketing_channel_coded  10037 non-null  int64
 12  channel_code             1856 non-null   float64
 13  is_correct_lang          10037 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 892.1+ KB

In [40]:
# .drop(['unnamed 0'],axis=1)
# '%Y-%m-%d'

marketing_to_csv = marketing.reset_index(drop=True)  # Reset and drop the old index
# print(marketing_to_csv.info())
marketing_to_csv.to_csv('data/marketing_data_cleaned.csv', date_format='%Y-%m-%d')